/* Colors */
$c-blue: #1D5FAA;
$c-light-blue: #DEECEF;

/* Used for gradients */
$c-dark-blue: #154377;
$c-light-gray: #DBE4EE;
$c-dark-gray: #BDC4CB;


/* Font Sizes */
$fs-xbig: 83px;
$fs-big: 66px;
$fs-big-sm: 40px;
$fs-med-xl: 33px;
$fs-med: 24px;
$fs-med-sm: 20px;
$fs-reg: 16px;
$fs-xreg: 18px;
$fs-sm: 14px;
$fs-xsm: 12px;

/* Font Families */
$ff-pri: 'Source Sans Pro';

/* Responsive Design Breaks */
$break-sm: 600px;
$break-md: 960px;
$break-lg: 1280px;
$break-xl: 1920px;

/* Toolbar Measures */
$toolbar-heigth-md: 60px;
$toolbar-margin-top-md: 60px;
$toolbar-margin-top-sm: 30px;
$toolbar-margin-bottom-md: 12px;